*{
  margin: 0px;
  padding: 0px;
}

.test_table{
  width: 100%;
  border-collapse: collapse;
}
.test_table th,td{
  width: calc(100% / 7);
  border: 1px solid black;
  text-align: center;
}

.test_table td{
  height: 100px;
}
