*{
  margin: 0px;
  padding: 0px;
}

.test_table{
  width: 100%;
  border-collapse: collapse;
}
.test_table th,td{
  width: calc(100% / 7);
  border: 1px solid black;
  text-align: center;
}

.test_table td{
  height: 100px;
}

.input_form{
  margin: auto;
  margin-top:8%;
  width:400px;
}

.content_list{
  margin-left:20px;
}

.score_table{
  margin: auto;
  width: 75%;
  height: 100px;
}

.score_table table{
  width: 100%;
}
.score_table td{
  height: 100px;
}
.score_table td:nth-child(1),td:nth-child(3){
  width: 5%;
}

.score_table td:nth-child(2){
  text-align: justify;
}

.score_table td:nth-child(4),td:nth-child(5){
  width: 10%;
}

.question_area{
  width: 80%;
  margin: auto;
}

.question_form{
  width: 50%;
  padding: 0 5% 0 5%;
  margin: auto;
}

